<nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
    <center>
    <h4>LDA</h4>
    <hr>
    </center>
    
    <div class="position-sticky">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link active" href="/">
                    <i class="fa fa-home"></i>
                    Dashboard
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/scraping">
                    <i class="fa fa-download"></i>
                    Scraping Data
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kamus_kata">
                    <i class="fa fa-book"></i>
                    Kamus Kata
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/kamus_kalimat">
                    <i class="fa fa-table"></i>
                    Kamus Kalimat
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/merek_smartphone">
                    <i class="fa fa-table"></i>
                    Daftar Merek Smartphone
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/komentar">
                    <i class="fa fa-list"></i>
                    Daftar Komentar
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lda">
                    <i class="fa fa-cogs"></i>
                    Hasil Analisa LDA
                </a>
            </li>
        </ul>
    </div>
</nav>